body, h1, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #779882;
    color: #fff;
    padding: 20px;
    max-height: 1.5em;
}

nav {
    padding: 1rem;
    display: flex;
    background-color: #779882;
}

.hamburger {
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
}

.hamburger span {
    height: 5px;
    width: 100%;
    background-color: #000;
    border-radius: 25px;
    position: absolute;
    top: 50%;
}

.hamburger span:nth-child(1) {
    top: 25%;
}

.hamburger span:nth-child(3) {
    top: 75%;
}

main {
    max-width: 100%;
    height: auto;
    background-color: #779882;
    }

main img {
    width: 100%;
    max-height: 40em;
}

h1, h2 {
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 27px;
    font-weight: lighter;
    margin-top: 0;
}

div {
    background-color: #F3F4EF;
    color: #3C3C3C;
    font-size: 40px;
}

footer {
    background-color: #425348;
    color: #F3F4EF;
    font-size: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}